@{
    ViewData["Title"] = "Register Property";
}
@section Styles{
    <link href="/css/register.css">
}
<link href="/css/register.css">
<h2>Register New Property</h2>

<!--
    Title
    Monthly price:
    Image
    Bedrooms
    Bathroom
    Location
    Sqrfeet
    Description
-->





@section Scripts {
    <script src="/js/register.js"></script>
}